body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.main-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.player {
    text-align: center;
    width: 100px;
}

.scoreBox {
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #3498db;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card {
    width: 100px;
    height: 170px;
    margin-bottom: 10px;
}

.game-container {
    text-align: center;
    background-color: #8ab6a0;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}
@media (max-width: 480px) {
    .main-container {
        flex-direction: column;
        gap:5px;
    }

    .player {
        width: 80%;
    }

    .scoreBox {
        font-size: 18px;
        padding: 8px;
        
    }

    .card {
        width: 60px;
        height: 90px;
        margin:0px;
    }

    .game-container {
        width: 180px;
        height:auto;
        margin:5px;
    }

    .button {
        font-size: 14px;
        padding: 8px;
    }
}